<app-header></app-header>

<div class="content">
  <br />

  <div class="row">
    <div class="col-12">
      <h2>Funkcionalnosti:</h2>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-12 col-md-3 offset-md-4">
      <button
        class="btn btn-light"
        (click)="adminAddBook()"
        style="width: 320px"
      >
        Dodavanje knjige
      </button>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-12 col-md-3 offset-md-4">
      <button
        class="btn btn-light"
        (click)="adminModifyDeleteBook()"
        style="width: 320px"
      >
        Azuriranje/brisanje knjige
      </button>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-12 col-md-3 offset-md-4">
      <button
        class="btn btn-light"
        (click)="adminAddUser()"
        style="width: 320px"
      >
        Dodavanje korisnika
      </button>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-12 col-md-3 offset-md-4">
      <button
        class="btn btn-light"
        (click)="adminModifyDeleteUser()"
        style="width: 320px"
      >
        Azuriranje/brisanje korisnika
      </button>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-12 offset-md-3 offset-md-4">
      <button
        class="btn btn-light"
        (click)="adminChangeRentTime()"
        style="width: 320px"
      >
        Postavljanje broja dana zaduzenja knjige
      </button>
    </div>
  </div>
</div>
